body {
    background: $bg;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    padding: 50px;
}

a {
    color: $pale;
}

h1 {
    font-family: Raleway;
    font-weight: normal;
}

img {
    height: 100px;
}
