body {
    background: $bg;
    font: 14px 'Raleway', Helvetica, Arial, sans-serif;
    padding: 50px;
}

a {
    color: $pale;
}

h1 {
    font-family: Raleway;
    font-weight: normal;
}

img {
    max-width: 200px;
}

nav {
    position: fixed;
    right: 30px;
    top: 30px;
}
