<!DOCTYPE html>
<html>
  <head>
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="{{path 'css/style.css'}}" />
  </head>
  <body>
      {{#block "main"}}{{/block}}
      <script type="text/javascript" src="{{path 'js/app.min.js'}}"></script>
      <script type="text/javascript" src="{{path 'js/app2.min.js'}}"></script>
  </body>
  </html>
