{{#index}}
{{> head}}
    <img src="images/handlebars_logo.png" />
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

    Welcome!
    This is a test page to demonstrate gulp and livereload.<br />
    It shows a gulp/livereload setup using handlebars templates and handlebars.<br /><br />
    {{capitalise 'Enjoy!'}}<br /><br />
    <img src="images/gulp-white-text.svg" />
{{> foot}}
{{/index}}
